:root {
  --iris: #4d5ae5;
  --nv: #2e2f42;
  --cloud: #f4f4fd;
  --wht: #ffffff;
  --slt: #434455;
  --ocean: #404bbf;
  --cornflwr: #e7e9fc;
  --font-title: Raleway, sans-serif;
  --font-reg: Roboto, sans-serif;
  --light-slt: #8e8f99;
  --green: #31d0aa;
  --dairy: #fcfcfc;
  --grey: #2e2f42;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-reg);
  color: var(--slt);
  background-color: var(--wht);
}

.container {
  min-width: 320px;
  max-width: 428px;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
    padding: 0 16px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* ======COMPONENT====== */
.logo {
  color: var(--iris);
  font-family: var(--font-title);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: block;
}

.logo-studio-header {
  color: var(--nv);
}

.logo-studio-footer {
  color: var(--cloud);
}

.contact {
  color: var(--slt);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

@media screen and (min-width: 768px) {
  .contact-list {
    display: none;
  }
}

.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--slt);
}

.text-footer {
  color: var(--cloud);
}

.ot-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--nv);
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ======/COMPONENT====== */
/* ======HEADER====== */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.page-nav {
  display: flex;
  align-items: center;
  color: var(--nv);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.logo-header {
  padding: 24px 0;
  display: block;
}

@media only screen and (min-width: 768px) {
  .logo-header {
    margin-right: 14.5vw;
  }
}

@media only screen and (min-width: 1158px) {
  .logo-header {
    margin-right: 6vw;
  }
}

.nav-list {
  display: none;
  gap: 5vw;
  margin-right: 14.5vw;
}

@media only screen and (min-width: 768px) {
  .nav-list {
    display: flex;
  }
}

@media only screen and (min-width: 1158px) {
  .nav-list {
    gap: 3vw;
  }
}

.nav-item {
  display: block;
  color: var(--nv);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item:hover,
.nav-item:focus {
  color: var(--ocean);
}

.nav-item.current {
  color: var(--ocean);
}

.nav-item.current::after {
  display: block;
  width: 100%;
  height: 4px;
  content: '';
  position: absolute;
  bottom: -1px;
  border-radius: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  background-color: var(--ocean);
}

.contact {
  display: none;
}

@media only screen and (min-width: 768px) {
  .contact {
    display: flex;
  }
}

.contact-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media only screen and (min-width: 1158px) {
  .contact-list {
    flex-direction: row;
    gap: 3vw;
    margin: 24px 0;
  }
}

.contact-list-item {
  display: flex;
}

@media only screen and (min-width: 1158px) {
  .contact-list-item {
  }
}

.contact-item {
  color: var(--slt);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-item:hover,
.contact-item:focus {
  color: var(--ocean);
}

/* ======/HEADER====== */
/* ======FOOTER====== */
.footer {
  background-color: var(--nv);
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
}

.footer-box {
  display: flex;
  flex-wrap: wrap;
  padding: 96px 16px;
  gap: 72px 24px;
}

@media only screen and (max-width: 767.98px) {
  .footer-box {
    text-align: center;
    justify-content: center;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-box {
    gap: 0;
  }
}

@media only screen and (min-width: 768px) {
  .footer-box {
    max-width: 768px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-box {
    padding: 96px 108px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-box {
    display: flex;
    flex-wrap: nowrap;
    max-width: 1158px;
    padding: 100px 0;
  }
}

@media only screen and (min-width: 1158px) {
  .logo-discr {
    margin-right: 120px;
  }
}

.logo-footer {
  display: block;
  margin-bottom: 16px;
}

.text-footer {
  display: block;
  max-width: 264px;
  margin: 0 auto;
  text-align: left;
}

@media only screen and (min-width: 1158px) {
  .text-footer {
    width: 268px;
  }
}

.footer-social {
  gap: 16px;
}

@media only screen and (min-width: 1158px) {
  .footer-social {
    margin-right: 80px;
  }
}

.footer-social-discr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--wht);
  margin-bottom: 16px;
}

.footer-list-social {
  display: flex;
  gap: 16px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--green);
}

.footer-social-icon {
  fill: var(--cloud);
}

.footer-form-box {
  width: 100%;
  max-width: 453px;
}

@media only screen and (min-width: 768px) {
  .footer-form {
    display: flex;
  }
}

.footer-form-label {
  display: block;
  margin-bottom: 16px;
  flex-grow: 1;
}

@media only screen and (min-width: 768px) {
  .footer-form-label {
    margin-bottom: 0;
  }
}

.footer-form-discr {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--wht);
}

.footer-form {
  gap: 24px;
}

@media only screen and (min-width: minwidthpx) {
  .footer-form {
    display: flex;
  }
}

.footer-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--wht);
  background-color: transparent;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--wht);
}

.footer-form-input::placeholder {
  color: var(--wht);
}

@media only screen and (min-width: 1158px) {
  .footer-form-input {
    width: 264px;
    height: 40px;
    border: 1px solid var(--wht);
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--wht);
  }
}

.footer-form-btn {
  margin: 0 auto;
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--wht);
  cursor: pointer;
  background-color: var(--iris);
  border: none;
  border-radius: 4px;
}

@media only screen and (min-width: 768px) {
  .footer-form-btn {
    margin: 0;
  }
}

.footer-form-btn-icon {
  margin-left: 16px;
  fill: var(--wht);
}
/* ======/FOOTER====== */
/* ======STUDIO====== */
/* ====HERO==== */
.hero {
  background-color: var(--grey);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/studio/people-office.jpg);
  max-width: 768px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding: 188px 0;
  margin: 0 auto;
}

.hero-title {
  color: var(--wht);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto 48px;
}

.hero-btn {
  background-color: var(--iris);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--wht);
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 48px 164px 0;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--ocean);
}

/* ====/HERO==== */
/* ====advantages==== */
.advantages {
  padding: 96px 0;
}

@media screen and (min-widht: 1158px) {
  .advantages {
    margin: 120px 0;
  }
}

@media only screen and (min-width: 1158px) {
  .advantages {
    margin: 120px 0;
  }
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
}

@media only screen and (min-width: 768px) {
  .advantages-list {
    justify-content: center;
    column-gap: 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .advantages-list {
    gap: 24px;
  }
}

.advantages-list-item {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .advantages-list-item {
    width: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .advantages-list-item {
    width: calc((100% - 3 * 24px) / 4);
  }
}

.advantages-svg {
  display: none;
  width: 264px;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: var(--cloud);
  border-radius: 4px;
  margin-bottom: 8px;
}

@media only screen and (min-width: 1158px) {
  .advantages-svg {
    display: flex;
  }
}

.advantages-item-title {
  color: var(--nv);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

@media only screen and (min-width: 768px) {
  .advantages-item-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
  }
}

@media only screen and (min-width: 1158px) {
  .advantages-item-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
}

.advantages-discr {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ====/advantages==== */
/* ====wawd==== */
.wawd {
  padding-bottom: 120px;
  display: none;
}

@media only screen and (min-width: 1158px) {
  .wawd {
    display: flex;
  }
}

.wawd-title {
  color: var(--nv);
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.wawd-list {
  display: flex;
  gap: 24px;
}

.wawd-list-item {
  width: calc((100% - 48px) / 3);
}

/* ====/wawd==== */
/* ====oteam==== */
.oteam {
  background-color: var(--cloud);
  padding: 120px 0;
}

.ot-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

@media only screen and (min-width: 768px) {
  .ot-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    padding: 0 92px;
    margin: 0;
  }
}

@media only screen and (min-width: 1158px) {
  .ot-list {
    margin: 0;
    padding: 0;
  }
}

.ot-list-item {
  background-color: var(--wht);
  width: 264px;
  margin: 0 auto;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.ot-item-name {
  display: flex;
  flex-direction: column;
  padding: 32px 0;
  width: 100%;
}

.ot-list-title {
  text-align: center;
  margin-bottom: 8px;
}

.ot-list-discr {
  text-align: center;
}

.ot-list-social {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-top: 8px;
}

.ot-social-item {
  width: 40px;
  height: 40px;
}

.ot-social-link {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ot-social-link:hover,
.ot-social-link:focus {
  background-color: var(--ocean);
}

.ot-social-icon {
  fill: var(--cloud);
}
/* ====/oteam==== */
/* ====Customers==== */
.customers {
  padding: 120px 0;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 16px;
}

@media only screen and (min-width: 768px) {
  .customers-list {
    padding: 0 97px;
  }
}

.customers-list-item {
  width: 190px;
  height: 88px;
}

@media only screen and (min-width: 768px) {
  .customers-list-item {
    width: 167px;
    column-gap: 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .customers-list-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
  }
}

.customers-list-link {
  display: flex;
  color: var(--light-slt);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--light-slt);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-link:focus,
.customers-list-link:hover {
  color: var(--ocean);
  border-color: var(--ocean);
}

.customers-icon {
  fill: currentColor;
}
/* ====/Customers==== */
/* ======/STUDIO====== */
/* ======PORTFOLIO====== */
.services {
  padding-top: 96px;
  padding-bottom: 120px;
}
.filter-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.filter-item-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--cloud);
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--cornflwr);
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-item-btn:hover,
.filter-item-btn:focus {
  color: var(--wht);
  background-color: var(--ocean);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.services-list-item {
  display: block;
  width: calc((100% - 48px) / 3);
}

.services-list-item:hover,
.services-list-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.services-item {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.services-item:hover,
.services-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.name-cathegory-app {
  padding: 32px 16px;
  border: 1px solid var(--cornflwr);
  border-top: none;
}

.filter-list-title {
  margin-bottom: 8px;
  color: var(--nv);
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.overlay-box {
  position: relative;
  overflow: hidden;
}

.services-item:hover .overlay-discr,
.services-item:focus .overlay-discr {
  transform: translateY(0);
}

.overlay-discr {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  padding: 40px 32px;
  background-color: var(--iris);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ======/PORTFOLIO====== */
/* ====modal==== */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: var(--dairy);
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-box-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cornflwr);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-box-close:focus,
.modal-box-close:hover {
  background-color: var(--ocean);
  border: none;
  fill: var(--wht);
}

.modal-box-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--nv);
  margin-bottom: 16px;
}

.modal-name {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slt);
  margin-bottom: 4px;
}

.modal-input-box {
  margin-bottom: 8px;
}

.modal-input-lbl {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slt);
  margin-bottom: 4px;
}

.modal-box-input {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--iris);
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-input-icon {
  fill: var(--iris);
}
.modal-comment-box {
  margin-bottom: 16px;
}

.modal-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  margin-bottom: 16;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment:focus {
  border-color: var(--iris);
}

.checkbox {
  margin-bottom: 24px;
}

.checkbox-lbl {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slt);
}

.checkbox-custom-box {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.checkbox-input:checked + .checkbox-lbl > .checkbox-custom-box {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}

.checkbox-user-privacy {
  color: var(--iris);
}

.modal-box-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--wht);
  cursor: pointer;
  background-color: var(--iris);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin: auto;
}
/* ====/modal==== */

.header-open-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 767.98px) {
  .header-open-menu {
    display: none;
  }
}

.header-menu-icon {
  fill: var(--nv);
  align-items: center;
  justify-content: center;
}

.mobile-menu-box {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 80px 35px 40px 40px;
  background-color: var(--wht);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.mobile-menu-box.is-open {
  transform: translateX(0);
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: var(--cornflwr);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 50%;
  outline: none;
}

.mobile-menu {
  display: block;
  flex-direction: column;
  gap: 40px;
  margin-bottom: auto;
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-link {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--nv);
}

.mobile-menu-link.active {
  color: var(--ocean);
}

.mobile-menu-contacts {
  display: block;
  margin-bottom: 48px;
}

.mobile-menu-contacts-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-contacts-link {
  color: var(--slt);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.mobile-menu-contacts-link.active {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--iris);
}

@media screen and (min-width: 427.98px) {
  .mobile-menu-contacts-link.active {
    font-size: 36px;
  }
}

.mobile-menu-social-list {
  display: flex;
}

@media only screen and (max-width: 427.98px) {
  .mobile-menu-social-list {
    justify-content: space-between;
  }
}

@media only screen and (min-width: 428px) {
  .mobile-menu-social-list {
    gap: 56px;
  }
}

.mobile-menu-social-link {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.hide {
  display: none;
}
